<% include ../partials/header %>
<h1><%= book.name %></h1>

<img src="<%= book.image %>">

<p><%= book.description %></p>

<p>
    <a class="btn btn-success" href="/index/<%= book._id %>/comments/new">Add New Comment</a>
</p>

<% book.comments.forEach(function(comment){ %>
    <p>
        <strong><%= comment.author %></strong> - <%= comment.text %>
    </p>
<% }) %>
<% include ../partials/footer %>